// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "colors";

.editor-colors {
  background-color: @bg-color;
  color: @main-rule;
}

.editor {
  .invisible-character,
  .indent-guide {
    color: @base01;
  }

  .gutter {
    background-color: @gutter-bg;
  }

  .gutter .line-number {
    color: @line-number-color;
    opacity: 1;
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @magenta;
  }

  .cursor {
    border-color: @cursor;
  }

  .selection .region {
    background-color: @selection;
  }

  .line-number.cursor-line-no-selection {
    background-color: @base01;
  }
}

.bracket-matcher {
  background-color: @bracket-matcher;
  opacity: 0.3;
}

.comment {
  color: @comment;
  font-style: italic;
}

.entity {
  color: @entities;
}

.keyword {
  color: @green;
}

.storage.type {
  color: @green;
}

.constant {
  color: @constants;

  &.numeric,
  &.boolean {
    color: @number;
  }
}

.variable {
  color: @variable;
}

.delimiter, .brace {
  color: @red;
}

.delimiter.period {
  color: @green;
}

.invalid.deprecated {
  text-decoration: underline;
  color: @red;
}

.invalid.illegal {
  color: @red;
}

.string {
  color: @cyan;

  .constant.character.escape {
    color: @red;
  }

  &.regexp {
    color: @cyan;

    .source.ruby.embedded,
    .string.regexp.arbitrary-repitition {
      color: @red;
    }
  }
}
