@base03: #002b36;
@base02: #073642;
@base01: #586e75;
@base00: #657b83;
@base0: #95B4D9;
@base2: #0F1216;


@yellow: #b58900;
@orange: #cb4b16;
@red: #f4c2c1;

@violet: #6c71c4;
@blue: #268bd2;
@cyan: #2aa198;



@base1: #93a1a1;
@base3: red;

@magenta: #d33682;
@green: #859900;

@bg-color: #0F1317;
@gutter-bg: lighten(@bg-color, 2%);
@main-rule: #245C94; //Main text and line numbers
@line-number-color: desaturate(@main-rule, 40%);
@constants: mix(@entities, @cursor);
@number: #BDF223;
@cursor: white;
@selection: fade(#649CD4, 20%);
@bracket-matcher: white;
@comment: #90A5C7;
@entities: #E59D1B;
@variable: #BDD0DE;
@brace: darken(@variable, 30);
@string: red;
